# Alex ChatApp Configuration


# Main Web Interface Domain
CHAT_DOMAIN=chat.example.com


# Matrix Server Domain
MATRIX_DOMAIN=matrix.example.com


# Matrix Settings

SERVER_NAME=example.com


# Media cleanup

MEDIA_RETENTION_DAYS=10



# Backup

BACKUP_RETENTION_DAYS=7



# Admin

ADMIN_USERNAME=admin
